cloudflare-ddns-webhook.json
{
  "name": "Cloudflare DDNS Updater — Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "ddns-update",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "onReceived"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Webhook Trigger",
      "webhookId": "ddns-update"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !body.ip) {\n  throw new Error('Missing \"ip\" field in request body. Send JSON: {\"ip\": \"x.x.x.x\"}');\n}\n\nconst ip = body.ip.trim();\nconst ipv4Regex = /^(\\d{1,3}\\.){3}\\d{1,3}$/;\n\nif (!ipv4Regex.test(ip)) {\n  throw new Error(`Invalid IP address format: \"${ip}\". Expected IPv4 like \"1.2.3.4\".`);\n}\n\nconst parts = ip.split('.').map(Number);\nif (parts.some(p => p < 0 || p > 255)) {\n  throw new Error(`Invalid IP octets: \"${ip}\"`);\n}\n\nconst [a, b] = parts;\nif (\n  a === 10 ||\n  (a === 172 && b >= 16 && b <= 31) ||\n  (a === 192 && b === 168) ||\n  (a === 100 && b >= 64 && b <= 127) ||\n  a === 127 ||\n  (a === 169 && b === 254) ||\n  a === 0\n) {\n  throw new Error(`Rejected non-public IP: \"${ip}\". Only public IPv4 addresses are accepted.`);\n}\n\nreturn [{ json: { ip: ip } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Validate Payload"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst currentIp = $input.first().json.ip;\nconst previousIp = staticData.lastKnownIp || null;\n\nconst ipChanged = (previousIp === null) || (currentIp !== previousIp);\nconst isFirstRun = (previousIp === null);\n\n// Update stored IP to the current one\nstaticData.lastKnownIp = currentIp;\n\nreturn [\n  {\n    json: {\n      currentIp: currentIp,\n      previousIp: previousIp,\n      ipChanged: ipChanged,\n      isFirstRun: isFirstRun\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Compare IPs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-ip-changed-001",
              "leftValue": "={{ $json.ipChanged }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "IP Changed?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.isFirstRun ? 'This is the FIRST RUN of this DDNS updater. My current public IP is: ' + $json.currentIp + '.\\n\\nPlease perform the following steps:\\n1. List all Cloudflare zones accessible with the provided API token.\\n2. For each zone, retrieve all DNS A records.\\n3. Report a summary of all A records found, including zone name, record name, and current IP for each.\\n4. Flag any A records that do NOT point to my current IP: ' + $json.currentIp + '\\n\\nIMPORTANT: Do NOT update any records on this first run. This is an audit only. Report what you find so the user can verify the setup is correct.' : 'My public IP address has changed.\\n\\nOLD IP (the IP currently in DNS records): ' + $json.previousIp + '\\nNEW IP (the IP to update records to): ' + $json.currentIp + '\\n\\nPlease perform the following steps:\\n1. List all Cloudflare zones accessible with the provided API token.\\n2. For each zone, retrieve all DNS A records.\\n3. Identify every A record whose current \\\"content\\\" field exactly matches the OLD IP: ' + $json.previousIp + '\\n4. Update each matching A record by setting its content to the NEW IP: ' + $json.currentIp + '\\n5. Report a summary of all changes made, including zone name, record name, and old/new IP for each updated record.\\n\\nIMPORTANT: Only update records whose content matches the OLD IP exactly. Do NOT modify any other records.' }}",
        "options": {
          "systemMessage": "You are a Cloudflare DNS management assistant. Your job is to update DNS A records when a public IP address changes.\n\nYou have access to the Cloudflare API via an HTTP request tool. The API base URL is https://api.cloudflare.com/client/v4. Authentication is already configured — just make requests.\n\nWorkflow:\n1. GET https://api.cloudflare.com/client/v4/zones to list all zones. Extract the zone id and name from each result in the result array.\n2. For each zone, GET https://api.cloudflare.com/client/v4/zones/{zone_id}/dns_records?type=A to list all A records. Extract record id, name, content, and zone_id from each.\n3. Filter the A records to find those where the content field matches the OLD IP address exactly.\n4. For each matching record, PATCH https://api.cloudflare.com/client/v4/zones/{zone_id}/dns_records/{record_id} with the JSON body {\"content\": \"NEW_IP\"} to update it to the new IP.\n5. After completing all updates, provide a clear summary of what was changed including zone name, record name, old IP, and new IP for each.\n\nSafety rules:\n- ONLY update A records whose content exactly matches the OLD IP. Never modify records with different IPs.\n- Never delete any records.\n- Never create new records.\n- If no records match the old IP, report that no updates were needed.\n- Always use the zone_id from the list zones response when constructing URLs for DNS record operations.\n\nThe Cloudflare API returns paginated results. The response format is {\"success\": true, \"result\": [...], \"result_info\": {\"page\": 1, \"total_pages\": N}}. If total_pages > 1, make additional requests with ?page=2, ?page=3, etc. appended to the URL.\n\nFor the PATCH request to update a DNS record, send a JSON body with the \"content\" field set to the new IP address.",
          "maxIterations": 100,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Cloudflare DNS Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [950, 520],
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "List all Cloudflare DNS zones accessible with the configured API token. Returns a JSON response with a 'result' array containing zone objects. Each zone object has an 'id' (the zone_id) and 'name' (the domain name). Use this tool first to discover all zones before listing DNS records.",
        "url": "https://api.cloudflare.com/client/v4/zones?per_page=50&page={page_number}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "optimizeResponse": true,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "page_number",
              "description": "Page number for pagination. Start with 1. Check result_info.total_pages in the response to see if more pages exist.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1100, 520],
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "List Zones",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CF_CREDENTIAL_ID",
          "name": "Cloudflare API Token"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "List all DNS A records for a specific Cloudflare zone. Returns a JSON response with a 'result' array containing DNS record objects. Each record has 'id' (the record_id), 'name' (e.g. example.com or sub.example.com), 'type' (always 'A' for these results), and 'content' (the IP address). Use the zone_id obtained from the List Zones tool.",
        "url": "https://api.cloudflare.com/client/v4/zones/{zone_id}/dns_records?type=A&per_page=100&page={page_number}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "optimizeResponse": true,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "zone_id",
              "description": "The zone ID obtained from the List Zones tool results.",
              "type": "string"
            },
            {
              "name": "page_number",
              "description": "Page number for pagination. Start with 1. Check result_info.total_pages in the response to see if more pages exist.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1250, 520],
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "List DNS Records",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CF_CREDENTIAL_ID",
          "name": "Cloudflare API Token"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Update a single DNS A record to point to a new IP address. Send a PATCH request with the new IP in the JSON body. Use the zone_id and record_id obtained from the List Zones and List DNS Records tools. Only use this tool for records whose current 'content' (IP address) matches the OLD IP.",
        "method": "PATCH",
        "url": "https://api.cloudflare.com/client/v4/zones/{zone_id}/dns_records/{record_id}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"{new_ip}\"}",
        "optimizeResponse": true,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "zone_id",
              "description": "The zone ID of the zone containing this DNS record.",
              "type": "string"
            },
            {
              "name": "record_id",
              "description": "The DNS record ID to update, obtained from List DNS Records results.",
              "type": "string"
            },
            {
              "name": "new_ip",
              "description": "The new IP address to set for this DNS A record.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1400, 520],
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Update DNS Record",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CF_CREDENTIAL_ID",
          "name": "Cloudflare API Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## \ud83d\udd17 Webhook Trigger\nListens for POST with IP payload.\n\u2705 Webhook auth needed \u2014 see below.",
        "width": 210,
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-30, 160],
      "id": "a1b2c3d4-1014-4000-8000-000000000014",
      "name": "Note: Trigger"
    },
    {
      "parameters": {
        "content": "## \u2705 Validate Payload\nChecks for valid IPv4 in body.\nNo setup needed.",
        "width": 210,
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [215, 160],
      "id": "a1b2c3d4-1015-4000-8000-000000000015",
      "name": "Note: Validate"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd04 Compare IPs\nChecks if IP changed since last run.\nNo setup needed.",
        "width": 200,
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [465, 160],
      "id": "a1b2c3d4-1003-4000-8000-000000000003",
      "name": "Note: Compare"
    },
    {
      "parameters": {
        "content": "## \u2753 IP Changed?\nStops here if IP is unchanged.\nNo API calls, no LLM costs.",
        "width": 200,
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [715, 160],
      "id": "a1b2c3d4-1004-4000-8000-000000000004",
      "name": "Note: IF"
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16 AI Agent\nDiscovers all zones & A records,\nupdates those matching old IP.\nNo setup needed.",
        "width": 220,
        "height": 110
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1010, 150],
      "id": "a1b2c3d4-1005-4000-8000-000000000005",
      "name": "Note: Agent"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd17 Webhook Setup\n\n**Webhook URL (when workflow is active):**\n`https://YOUR_N8N_DOMAIN/webhook/ddns-update`\n\n**Authentication:**\nThe webhook is secured with Header Auth.\n1. Click the **Webhook Trigger** node\n2. Under \"Credential to connect with\", click the dropdown\n3. Select \"Create New Credential\" \u2192 **Header Auth**\n4. Set a **Name** and **Value** (your shared secret)\n   Example: Name = `X-Secret`, Value = `my-secret-token-123`\n5. Save\n\n**Calling the webhook from your remote device:**\n```\ncurl -X POST https://YOUR_N8N_DOMAIN/webhook/ddns-update \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Secret: my-secret-token-123\" \\\n  -d '{\"ip\": \"'$(curl -s https://api.ipify.org)'\"}'\n```\n\nAdd this as a cron job on the remote device, e.g.:\n`*/5 * * * * /path/to/ddns-webhook.sh`",
        "width": 400,
        "height": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 480],
      "id": "a1b2c3d4-1016-4000-8000-000000000016",
      "name": "Note: Webhook Setup"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd11 OpenAI API Key Setup\n\n**\u2705 SET UP ON THE \"OpenAI Chat Model\" NODE:**\n\n1. Click the **OpenAI Chat Model** node\n2. Under \"Credential to connect with\", click the dropdown\n3. Select \"Create New Credential\" \u2192 **OpenAI API**\n4. Paste your **OpenAI API key** (starts with `sk-...`)\n5. Save\n\nUsing **gpt-4.1-nano** (optimised for tool calling, no reasoning overhead).\nYou can swap to any other model or LLM provider.\nTemperature is 0 for deterministic output.",
        "width": 350,
        "height": 290
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [390, 480],
      "id": "a1b2c3d4-1006-4000-8000-000000000006",
      "name": "Note: OpenAI"
    },
    {
      "parameters": {
        "content": "## \u2601\ufe0f Cloudflare API Token Setup\n\n**\u2705 SET UP ON ALL 3 TOOL NODES:**\n(List Zones, List DNS Records, Update DNS Record)\n\n1. Click any of the 3 tool nodes\n2. Under \"Credential to connect with\", click the dropdown\n3. Select \"Create New Credential\" \u2192 **Header Auth**\n4. Fill in the two fields:\n   \u2022 **Name**: type `Authorization`\n   \u2022 **Value**: type `Bearer ` followed by your Cloudflare API token\n     Example: `Bearer cf_abc123xyz...`\n5. Save\n\n(Create it once, then select the same credential on the other two nodes.)\n\n**Creating your Cloudflare API token:**\n\u2192 Go to https://dash.cloudflare.com/profile/api-tokens\n\u2192 Click \"Create Token\"\n\u2192 Use \"Edit zone DNS\" template, or create custom with:\n   \u2022 **Zone : Zone : Read** (to list your domains)\n   \u2022 **Zone : DNS : Edit** (to update DNS records)\n   \u2022 Zone Resources: \"All zones\" (or select specific zones)",
        "width": 400,
        "height": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1600, 480],
      "id": "a1b2c3d4-1007-4000-8000-000000000007",
      "name": "Note: Cloudflare"
    },
    {
      "parameters": {
        "content": "# \ud83c\udf0d Cloudflare DDNS Updater \u2014 Webhook\n\nAutomatically updates ALL your Cloudflare DNS A records when a **remote device pushes** its IP via HTTP POST.\nThe remote device runs a simple `curl` command (e.g. via cron) to notify n8n of its current IP.\n\n---\n\n### Quick Setup (3 credentials + remote device script)\n\n**1. Webhook Auth** \u2192 see setup note below the flow\n**2. OpenAI API Key** \u2192 see setup note below the flow\n**3. Cloudflare API Token** \u2192 see setup note below the flow\n**4. Remote device** \u2192 set up a cron job with the curl command from the Webhook Setup note\n\n### Advantages\n\n\u2022 **Near-instant** \u2014 DNS updates within seconds of IP change (no polling delay)\n\u2022 **Universal** \u2014 works with any device that can make HTTP requests\n\u2022 **No vendor lock-in** \u2014 no UniFi, no SSH, just a simple POST\n\n### How to Test\n\n1. Activate the workflow to get the production webhook URL\n2. Send a test POST:\n   `curl -X POST https://YOUR_N8N_DOMAIN/webhook/ddns-update -H \"Content-Type: application/json\" -H \"X-Secret: your-token\" -d '{\"ip\": \"1.2.3.4\"}'`\n3. The AI agent fires, finds no records matching `1.2.3.4`, reports no updates needed\n\n**Or** use the test URL: replace `/webhook/` with `/webhook-test/` and click \"Listen for test event\" in n8n.\n\n### Safety\n\n\u2022 Only updates A records matching the **previous** IP\n\u2022 Never creates or deletes records\n\u2022 First POST seeds the IP without making changes\n\u2022 Webhook is authenticated \u2014 unauthorized requests are rejected",
        "width": 1000,
        "height": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, -450],
      "id": "a1b2c3d4-1000-4000-8000-000000000000",
      "name": "Note: Overview"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Compare IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare IPs": {
      "main": [
        [
          {
            "node": "IP Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP Changed?": {
      "main": [
        [
          {
            "node": "Cloudflare DNS Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cloudflare DNS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List Zones": {
      "ai_tool": [
        [
          {
            "node": "Cloudflare DNS Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List DNS Records": {
      "ai_tool": [
        [
          {
            "node": "Cloudflare DNS Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update DNS Record": {
      "ai_tool": [
        [
          {
            "node": "Cloudflare DNS Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
